# breast cancer

In [1]:
# The code was removed by Watson Studio for sharing.

,age_c,assess_c,cancer_c,compfilm_c,density_c,famhx_c,hrt_c,prvmam_c,biophx_c,mammtype,bmi_c
0,69,1,0,1,3,0,1,1,0,2,-99.000000
1,77,0,1,1,2,0,0,1,0,1,31.247498
2,62,1,0,1,3,0,0,1,0,1,33.894501
3,63,1,0,1,2,0,0,1,0,1,27.019302
4,61,0,0,9,3,0,0,1,0,1,-99.000000

In [2]:
df_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35001 entries, 0 to 35000
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age_c       35001 non-null  int64
 1   assess_c    35001 non-null  int64
 2   cancer_c    35001 non-null  int64
 3   compfilm_c  35001 non-null  int64
 4   density_c   35001 non-null  int64
 5   famhx_c     35001 non-null  int64
 6   hrt_c       35001 non-null  int64
 7   prvmam_c    35001 non-null  int64
 8   biophx_c    35001 non-null  int64
 9   mammtype    35001 non-null  int64
 10  bmi_c       35001 non-null  float64
dtypes: float64(1), int64(10)
memory usage: 2.9 MB